.profile-img {
  padding : 35px;
  margin-left: 30px;
}
.jumbotron h1{
  text-align: center;
}

.jumbotron {
  border-radius: 25px;
  background-color: #8de0cd;
}

body{
  background-color: #b4e8d0;
}

p {
  font-family: sans-serif;
}
