.profile-img {
  margin-left: 30px;
}
.jumbotron h1{
  text-align: center;
}

.jumbotron {
  border-radius: 25px;
}

body{
  background-color: #b4e8d0;
}

p {
  font-family: sans-serif;
}

.card {
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 30px;
}

.tool {
  border: solid #2F4F4F 1px;
  border-radius: 5px;
  background: #2F4F4F;
  width: 80px;
  margin: 3px 7px;
  color: white;
  text-align: center;
}

.tools {
  border:solid #66CDAA 3px;
  border-radius: 5px;
  width: auto;
  padding: 10px;
}
